* {
    outline: none;
    margin: 0;
    padding: 0;
}

:root{
    --col-01: #292929;
    --col-02: #ff3bbb;
    --col-03: #27ff6f;
    --col-04: #787878;
    --col-05: rgb(239, 239, 239);
    --col-white: rgb(255, 255, 255);
    --col-black: rgb(0, 0, 0);
    --border-01: dashed 2px white;

    --font-pixel: 'Pixelify Sans', sans-serif;
    --font-mont: 'Montserrat', sans-serif;
    --font-roboto: 'Poppins', sans-serif;
    --font-neon: 'Tilt Neon', sans-serif;
    --font-josefin: 'Josefin Sans', sans-serif;   
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif; 
    width: 100vw;
    height: 100vh;
    
  }
  
html{
  scroll-behavior: smooth;
}

  .scene1 {
    width: 100vw;
    height: 60vh;
    background-color: var(--col-05);
    position: static;
 /*    margin-top: 100px; */
    left: 0;
    z-index: 100;
  }

  .scene {
    width: 100vw;
    height: 100vh;
    background-color: #ffdaf2;
    position: absolute;
    top: 0;
    left: 0;
  
  }


  h1 {
    color: var(--col-02);
    font-family: var(--font-josefin);
    font-size: 60px;
    font-weight: 600;
    text-shadow: 2px 2px 3px #202020;
    padding-top: 100px;
    padding-bottom: 100px;
    z-index: 1;
    position: relative;
   /*  font-weight: 500; */
    left: 0%;
    right: 0%;
    text-align: center;
    
}

.h1_white{
  color: var(--col-white);
  font-family: var(--font-josefin);
  font-size: 60px;
  font-weight: 600;
  text-shadow: 2px 2px 3px #bbbbbb;
  padding-top: 100px;
  padding-bottom: 100px;
  z-index: 1;
  position: relative;
  text-align: center;
}

.image-container {
  z-index: 1;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

#embed {
  margin-top: 10vh;
  margin-bottom: 10vh; 
  text-align: center;
  margin: auto;
  position: relative;
  width: 60vw;
  height:max-content;
  display: flex;
 

}

.outer {
  width: 60vw;
  max-width: 750px;
  margin: 0 auto;
}
.youtube-wrapper {
  height: 0;
  margin: auto;
  z-index: 1;
  position: relative;
  padding-top: 25px;
  padding-bottom: 56.25%;
  display: block;
  overflow: hidden;
}

iframe {
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  position: absolute;
}


/* iframe {
  position: relative;

  top:0;
  left:0;
  width:100%;
  height:max-content;
} */

.text-wrapper {
  display: flex;
  justify-content: flex-start;
  /* background: var(--col-black); */
  overflow: hidden;
/*   margin-top: 20%; */
  position: relative;
  padding: 1%;


}

/* Marque effect text settings */
h2 {
  font-family: var(--font-pixel);
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
  color: var(--col-02);
 /*  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: white; */
  white-space: nowrap;
  padding: 0 3rem;
  letter-spacing: 1px;
  animation: move-rtl 18s linear infinite;
}

/* Marque effect animation settings */
@keyframes move-rtl {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(-100%);
  }
}

canvas {
  display: block;
 
} 

#header-section {
  max-width: 100%;
  height: 50px;
  padding-top: 20px;
  align-items: center;
  margin-right: 2%;
/*   margin-left: 85%; */
  display: flex;
  gap: 5px;
  position: absolute;
  right: 0;
  z-index: 100;
  
}

ul {
  list-style-type: none;
}

a{
  text-decoration: none;
}

/* ul li a:hover {
  font-size: 3rem;
} */

#musicPlay {
  cursor: pointer;

}

.contentBox {
/*   background-color: rgba(255, 255, 255, 0.738);
 */  opacity: 1;
  /* padding-left: 15%;
  padding-right: 15%; */
  width: 60vw;
  padding: 10%;
  align-items: center;
  justify-content: center;
  display: block;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 10%;
  position: relative;
  overflow: auto;/* 
  box-shadow: 10px 10px 20px #000000; */
  border-style: none;
}


.contentBox img{
  width: 100%;
}

.minnie__img-description{
  font-family: var(--font-pixel);
  font-weight: 400;
  text-align: center;
  color: var(--col-02);

}

h3 {
  color: var(--col-02);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.h3_white {
  color: var(--col-white);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

p {
  font-family: var(--font-roboto);
  color: var(--col-05);
  font-size: 1rem;
  text-shadow: none;
}

/* .p_white {
  font-family: var(--font-roboto);
  color: var(--col-white);
  font-size: 1rem;
  text-shadow: none;
} */


p2 {
  color: var(--col-02);
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: none;
}

p3 {
  color: var(--col-02);
  font-size: 1rem;
  font-weight: 600;
  text-shadow: none;
}

.bottomPage {
  max-width: 100%;
  height: 50px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  bottom: 0;
  position: relative;
}

.footer__container{

  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  text-align: center;
  bottom: 0;
}


.footer {
  display: block;
  font-size: 1rem;
  color: var(--col-04);
  bottom: 0;
  
}


h4 {
  color: var(--col-02);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
  text-shadow: 1px 1px 2px #070707;
  text-decoration-color: white;
  text-decoration: 1px dotted;
  margin: 5%;

}

h5 {
  color: var(--col-02);
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  text-shadow: 1px 1px 1px #000000;
  text-decoration-color: white;
  text-decoration: 1px dotted;
  margin: 5%;

}

h6 {
  color: var(--col-03);
  font-size: 2rem;
  text-align: center;
  margin-bottom: 0.5rem;
  text-shadow: 1px 1px 1px #181818;
  text-decoration-color: white;
  text-decoration: 1px dotted;
  margin: 5%;

}

.contentBox2 {
  /* background-color: rgba(255, 255, 255, 0.725); */
  /* padding-left: 15%;
  padding-right: 15%; */
  text-align: center;;
  width: 50vw;
 padding-bottom: 15%;
  margin: auto;
  position: relative;
/*   overflow: auto; */
 /*  box-shadow: 10px 10px 20px #000000; */
  border-style: none;
/*   border-width: thick;
  border-color:#d263ab; */
/*   border-radius: 1rem; */
}

.about_text {
  color: var(--col-black);
  /* padding: 50px; */
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  /* padding-left: 120px;
  padding-right: 120px;
  padding-top: -10px; */
}

.about_text1 {
  /* background-color:rgba(230, 230, 230, 0.8); */
  /* padding: 50px; */
  color: var(--col-01);
  font-size: 1.5rem;
  text-align: center;
 /*  padding-left: 120px;
  padding-right: 120px;
  padding-top: -10px; */
}

.line-1{
  position: relative;
  top: 50%;  
  width: .15em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);  
  /* color:rgb(234, 30, 156); */
  color: var(--col-02);
  text-shadow: 1px 1px 2px #070707;

}

.line-2{
  position: relative;
  top: 50%;  
  width: .15em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);  
 /*  color:rgb(20, 187, 56); */
  color: var(--col-03);
  text-shadow: 1px 1px 2px #070707;

}

.line-3{
  position: relative;
  top: 50%;  
  width: .15em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);  
  color:rgb(29, 170, 189);
  text-shadow: 1px 1px 2px #070707;

}

.line-4{
  position: relative;
  top: 50%;  
  width: .15em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 100%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);  
  color:rgb(149, 67, 187);
  text-shadow: 1px 1px 2px #070707;

}

.line-5{
  position: relative;
  top: 50%;  
  width: .15em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 2rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);  
  color: var(--col-02);
  text-shadow: 1px 1px 2px #070707;


}


/* Animation */
.anim-typewriter{
animation: typewriter 5s steps(44) 1s 1 normal both,
           blinkTextCursor 500ms steps(44) infinite normal;
           animation-iteration-count: infinite;
}
@keyframes typewriter{
from{width: 0;}
to {width: 20em;}
}
@keyframes blinkTextCursor{
from{border-right-color: rgba(189, 189, 189, 0.75);}
to{border-right-color: transparent;}
}

.email {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin: auto;
  color: var(--col-01);
  overflow: hidden;
}

.sketchfab-embed-wrapper{
  width: 60vw;
  height: 40vh;
  position: relative;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}
